// Dark mode

#resultsSection {
    width: 516px;
    max-width: 80%;
    li {
        list-style: none;
    }
}
.card  {
    background-color: black;
    color: white;
}
.card-header {
    border-bottom: 1px solid grey;
}
#avatar {
    max-width: 200px;
    max-height: 200px;
}

// Light mode

.light-content {
    .card  {
        background-color: white;
        color: #333;
    }
    .card-header {
        border-bottom: none;
    }
}