@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: "Lato", sans-serif;
    background-color: #161B22;
}
h1 {
    color: white;
}

#searchSection {
    margin: auto;
    width: 580px;
    max-width: 80%;
}

#result {
    width: 516px;
    max-width: 80%;
}
#result li {
    list-style: none;
}

#avatar {
    border-radius: 8px;
    border: 2px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 200px;
    max-height: 200px;
}